<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <!-- Provider=SQLOLEDB.1;Data Source=SQLSIA;User ID=sa;Password=araoz946;Initial Catalog=FreddoPDV -->
    <!-- PROVIDER=Microsoft.Jet.OLEDB.4.0;Jet OLEDB:Database Password=7913; Data Source=Db/Game.mdb -->
	<!--<add key="db.connectionString" value="Provider=SQLOLEDB.1;Data Source=SQLSIA;User ID=sa;Password=araoz946;Initial Catalog=MinTur" />-->
    <add key="db.connectionString" value="PROVIDER=Microsoft.Jet.OLEDB.4.0;Jet OLEDB:Database Password=7913; Data Source=C:\Demobas\Ledesma\PhotoPrint\SQLClient\Game.mdb" />
    <add key="server.port" value="9000"/>
    <add key="server.ip" value="127.0.0.1"/>
    <add key="server.delimitador" value=";"/>
    <add key="bypassId" value=""/>

    <add key="1_query" value="SELECT TD_PARTICIPANTES.Nombre, TD_PARTICIPANTES.Mail, TD_PARTICIPANTES.Localidad, TD_PARTICIPANTES.Fecha, TD_PARTICIPANTES.Extra, TD_MEDIA.Archivo FROM TD_MEDIA INNER JOIN (TD_PARTICIPANTES INNER JOIN PARTICIPANTE_MEDIA ON TD_PARTICIPANTES.ID = PARTICIPANTE_MEDIA.Id_Participante) ON TD_MEDIA.ID = PARTICIPANTE_MEDIA.Id_Media ORDER BY TD_PARTICIPANTES.ID" />
    <add key="1_fieldsNames" value="Nombre;Mail;Localidad;Fecha;Extra;Archivo" />
    <add key="1_delimiter" value=";" />
    <add key="1_outputPath" value="C:\Demobas\Ledesma\PhotoPrint\Subida\Reporte.csv" />
  </appSettings>
  <!--BypassServer Id: sql-->
  <!--Recive: senderId|queryId|query-->
</configuration>